<%= simple_form_for @movie do |f| %>
  <div class="form-group">
    <%= f.input :filmname, input_html: { class: "form-control"}%>
    <%= f.input :introduction, input_html: { class: "form-control"}%>
  </div>
  <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
