<div class="col-md-12">
  <div class="movie">
    <%= link_to("添加新电影", new_movie_path, class: "btn btn-primary pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>影片名</td>
        <td>影片简介</td>
        <td>创建者</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "movie_item", :collection => @movies, :as => :movie %>
    </tbody>
  </table>
</div>
