<div class="col-md-12">
  <h2 class="text-center">我收藏的电影</h2>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>影片名</th>
        <th>影片简介</th>
        <th>影评数量</th>
        <th>最后更新时间</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td>#</td>
          <td><%= link_to(movie.filmname,movie_path(movie))%></td>
          <td><%= render_movie_introduction(movie) %></td>
          <td><%= movie.reviews.count %></td>
          <td><%= movie.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
